nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  background-color: #111;
  position: relative;
}

.Logo img {
  width: 120px;
  cursor: pointer;
}

.Header ul {
  display: flex;
  gap: 80px;
  list-style: none;
}

.Header li {
  position: relative; 
}

.Header li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}

.Header li a:hover {
  color: aquamarine;
}



/* Định dạng dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #111;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 400px;

  /* Grid layout for items */
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}
.dropdown-title {
  font-weight: bold;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: grid;
}

.dropdown-content a {
  text-decoration: none;
}

.dropdown-content a:hover {
  text-decoration: underline;
}


.Search ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.Search input {
  padding: 8px;
  border: none;
  border-radius: 20px;
  outline: none;
  width: 200px;
}

.Login {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  background-color: red;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.Login:hover {
  background: aquamarine;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-btn {
  background-color: brown;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #d9363e;
}

.user-name {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.user-name:hover {
  text-decoration: underline;
}